<div class="new_comment">
<%if notice%>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">


<a href="#?w=500" rel="popup_name" class="poplight">Оставить отзыв</a>
<div id="popup_name" class="popup_block">
    <h3>Написать отзыв:</h3>
    <%= form_for(@comment) do |f| %>
    <%= f.error_messages :header_message => "Ошибка заполнения формы",
  :message => "Вы должны исправить эти ошибки:",
  :header_tag => :h3%>
      <div class="field">
        <%=f.text_area :name, placeholder: "Ваше имя..."%>
      </div>
      <div class="field">
        <%=f.email_field :email, placeholder: "Ваш email..."%>
      </div>
      <div class="field">
        <%= f.text_area :body, placeholder: "Комментарий...", rows: 4 %>
      </div>


      <div class="emojis">
        <%=raw ':thumbsup:'.emojify%>
        <%=raw ':thumbsdown:'.emojify%>
        <%=raw ':ok_hand:'.emojify%>
        <%=raw ':v:'.emojify%>
        <%=raw ':clap:'.emojify%>
        <%=raw ':smile:'.emojify%>
        <%=raw ':relaxed:'.emojify%>
        <%=raw ':heart_eyes:'.emojify%>
        <%=raw ':weary:'.emojify%>
        <%=raw ':sob:'.emojify%>
        <%=raw ':rage:'.emojify%>
        <%=raw ':sunglasses:'.emojify%>
        <%=raw ':smiling_imp:'.emojify%>
        <%=raw ':sunny:'.emojify%>
        <%=raw ':umbrella:'.emojify%>
      </div><br>

      <center><div class="field"><%= captcha_tag %></div></center>
      <div class="field"><%= text_field_tag :captcha %></div>
      <div class="field">
      <%= f.submit "Написать" %>
      </div>
    <% end %>
  </div>   
</div>
</div>
</div>

<div class="new">
  <h1>Отзывы</h1>
    <table>
      <thead>
        <tr>
          <th>Имя</th>
          <th>Email</th>
          <th>Комментарий</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.name%></td>
            <td><%= comment.email%></td>
            <td><%= raw render_emoji(comment.body, { :style => 'width:20px;' }) %></td>
            <%if signed_in?%>
              <td>
                <%=link_to 'Удалить',comment, method: :delete, data: { confirm: "точно?"}, :class => 'deleteAction' %>
              </td>
            <%end%>
          </tr>
          <%end%>
      </tbody>
    </table><br>
      <div class="apple_pagination">
        <%= will_paginate %>
      </div>
  </div> 
</div>

