<div id="header">        
  <ul>
    <li><%= mail_to "torretravel2015@gmail.com", "Связаться с нами"%></li>
    <li class="current"><%= link_to 'Главная страница', :root %></li>
    <li><%= link_to 'Интересные места', sights_path %></li>
    <li><%= link_to 'Просмотреть все', all_types_path %></li>
    <li><%= link_to 'Отзывы', comments_path %></li>
  </ul>
</div>


