<%if @torre_travels.any?%>
<div id="wrapper">
  <div id="contentArea">
    <div id="primaryContent">
    <% @torre_travels.each do |torre_travel| %>
      <div class="portfolioBox">
      <%if torre_travel.images.any?%>
        <%=link_to (image_tag torre_travel.images.first.image_of_housing.url(:small)), torre_travel%>
      <%else%>
      <%=link_to (image_tag("small/missing2.png")), torre_travel%>
      <%end%>
        <h3>
          <%if torre_travel.housing == "house" %>
            <%= "Апартаменты" %>
          <%elsif torre_travel.housing == "flat"%>
            <%= "Квартира"%>
          <%elsif torre_travel.housing == "bungalo"%>
            <%= "Бунгало"%>
          <%else%>
            <%= "Челет"%>
          <%end%>
        </h3>
        <%= torre_travel.price %> €
        <%if torre_travel.housing == "flat" %>
          <%if torre_travel.distance == "first_line" %>
            <div class="line" data-title="до 1000м до моря">
              <p><%= "1ая линия" %></p> 
            </div>
          <%else%>
            <div class="line" data-title="более 1000м до моря">
              <p><%= " 2ая линия"%></p>
            </div>
          <%end%>
        <%else%>
          <p>До моря 
            <%= torre_travel.distance_m %> м
          </p>
        <%end%>
      </div>     
      <%end%>
        <div class="apple_pagination">
           <%= will_paginate %>
        </div>          
    </div>
    <div id="secondaryContent">
    <%= render partial: "partials/service" %>
    </div>
  </div>
  <br> 
</div>
<%else%>
  <h1>Извините, такого жилья временно нет в наличии!</h1>
<%end%>