<%if @torre_travels.any?%>
<div id="wrapper">
  <div id="contentArea">
    <div id="primaryContent">
    <% @torre_travels.each do |torre_travel| %>
      <div class="portfolioBox">
        <%=link_to (image_tag torre_travel.images.first.image_of_housing.url(:small)), torre_travel%>
        <h3>
          <%if torre_travel.housing == "house" %>
            <%= "Апартаменты" %>
          <%elsif torre_travel.housing == "flat"%>
            <%= "Квартира"%>
          <%elsif torre_travel.housing == "bungalo"%>
            <%= "Бунгало"%>
          <%else%>
            <%= "Челет"%>
          <%end%>
        </h3>
        <%= torre_travel.price %> €<br>
        <%if torre_travel.distance == "first_line" %>
          <%= "1ая линия" %>
        <%else%>
          <%= " 2ая линия"%>
        <%end%>
        <p>
          <%= torre_travel.description %>
        </p>
        <p>
          <%= torre_travel.description_es %>
        </p>
      </div>     
      <%end%>
    </div>
    <div id="secondaryContent">
    <%= render partial: "partials/service" %>
    </div>
  </div>
  <br> 
</div>
<%else%>
  <h1>Извините, такого жилья временно нет в наличии!</h1>
<%end%>