<%= form_for(@torre_travel) do |f| %>
  <%= f.error_messages :header_message => "Ошибка заполнения формы",
  :message => "Вы должны исправить эти ошибки:",
  :header_tag => :h3%>

  <div class="field">
    <%= f.label  "Тип жилья"%><br>
    <%= f.select(:housing, options_for_select([[],['Апартаменты', :house], ['Квартира', :flat],['Бунгало',:bungalo],['Челет',:chelet]])) %>
  </div>

  <div class="field" id="line">
    <%= f.label  "Расположение"%><br>
    <%= f.select(:distance, options_for_select([['1ая линия', :first_line], ['2ая линия', :second_line]])) %>
  </div>

  <div class="field" id="distance">
    <%= f.label "Расстояние" %><br>
    <%= f.text_field :distance_m %>
  </div>

  <div class="field">
    <%= f.label "Цена" %><br>
    <%= f.text_field :price %>
  </div>
  
  <div class="field">
    <%= f.label "Описание на русском языке"%><br>
    <%= f.text_area :description, rows: 5  %>
  </div>
  <div class="field">
    <%= f.label "Описание на испанском языке" %><br>
    <%= f.text_area :description_es, rows: 5  %>
  </div>
  <div class="field">
    <%= f.label "Адресс" %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label  "Резервирование"%><br>
    <%= f.select(:reserved, options_for_select([['Не заразервировано',:unreserv], ['Зарезервировано', :reserv]])) %>
  </div>
  <div class="actions">
    <%= f.submit "Применить" %>
  </div>
<% end %>
