<%= form_for(@torre_travel) do |f| %>
  <% if @torre_travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@torre_travel.errors.count, "error") %> prohibited this torre_travel from being saved:</h2>

      <ul>
      <% @torre_travel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label  "Тип жилья"%><br>
    <%= f.select(:housing, options_for_select([['Дом', :house], ['Квартира', :flat],['Бунгало',:bungalo],['Челет',:chelet]])) %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label  "Расположение"%><br>
    <%= f.select(:distance, options_for_select([['1ая линия', :first_line], ['2ая линия', :second_line]])) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Выберете язык" %><br>
    <%= f.select(:lang, options_for_select([['es', :es], ['ru', :ru]])) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
