<%= form_for(@torre_travel) do |f| %>
  <%= f.error_messages :header_message => "Ошибка заполнения формы",
  :message => "Вы должны исправить эти ошибки:",
  :header_tag => :h3%>

  <div class="field">
    <%= f.label  "Тип жилья"%><br>
    <%= f.select(:housing, options_for_select([['Дом', :house], ['Квартира', :flat],['Бунгало',:bungalo],['Челет',:chelet]])) %>
  </div>
  <div class="field">
    <%= f.label "Цена" %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label  "Расположение"%><br>
    <%= f.select(:distance, options_for_select([['1ая линия', :first_line], ['2ая линия', :second_line]])) %>
  </div>
  <div class="field">
    <%= f.label "Описание на русском языке" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Описание на испанском языке" %><br>
    <%= f.text_area :description_es %>
  </div>
  <div class="actions">
    <%= f.submit "Создать" %>
  </div>
<% end %>
