<p id="notice"><%= notice %></p>
    <p class="spain">
      <img src="https://lh4.googleusercontent.com/WUihP3riNLx_GadL14UdvnCOCj2r8V8d7DDxjdjDFa0VnTbyqPy6l5FDQoGFZiiar2LOk0ZS3GgTbp0OfsUcVw2d2oaOjMkhcF0_6T_2vElO3_LIs3efP3qZQctbkFi0XJpeXXw" alt="spaine-1.png" width="869" height="319">
    </p>
      <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <div id="top">
    <%= render 'partials/top'%>
  </div>
  <div id="main">
    <div id="main-left">
      <%= render 'partials/left'%>
    </div>
    <div id="main-center">
      <%= render 'partials/center'%>
    </div>
    <div id="main-right">
      <%= render 'partials/right'%>
    </div>
  </div>
</div>