 <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
 <div class="show">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Тип жилья: </strong>
    <%if @torre_travel.housing == "house" %>
      <%= "Дом" %>
    <%elsif @torre_travel.housing == "flat"%>
      <%= "Квартира"%>
    <%elsif @torre_travel.housing == "bungalo"%>
      <%= "Бунгало"%>
    <%else%>
      <%= "Челет"%>
    <%end%>
  </p>

  <p>
    <strong>Цена жилья: </strong>
    <%= @torre_travel.price %> €
  </p>

  <p>
    <strong>Расстояние до моря: </strong>
    <%if @torre_travel.distance == "first_line" %>
      <%= "1ая линия" %>
    <%else%>
      <%= " 2ая линия"%>
    <%end%>
  </p>

  <p>
    <strong>Описание на рус: </strong>
    <%= @torre_travel.description %>
  </p>

   <p>
    <strong>Описание на исп: </strong>
    <%= @torre_travel.description_es %>
  </p>

<br>
<br>
<%if @torre_travel.images.any?%>
  <table>
    <thead>
      <tr>
        <th>Описание:</th>
      </tr>
    </thead>
    <tbody>
      <% @torre_travel.images.each do |image|%>
      <tr>
          <td><%= image.description%></td>
          <%if signed_in?%>
            <td><%=link_to 'Правка', edit_torre_travel_image_path(@torre_travel.id, image)%></td>
            <td><%= link_to "Destroy", image, method: :delete, data: { confirm: "точно?"}, :class => 'deleteAction' %></td>
            <%end%>
          <%end%>
      </tr>
    </tbody>
  </table>
<%end%>
<%if signed_in?%>
  <%= form_for([@torre_travel, @torre_travel.images.build]) do |f| %>
      <%= render partial: "images/form", locals:{ f: f} %>
    <p>
    <%= f.submit "Добавить рисунок" %>
    </p>
  <% end %>
  <%= link_to 'Правка', edit_torre_travel_path(@torre_travel) %> |
<%end%>
  <%= link_to 'Вернуться', torre_travels_path %>
</div>