 <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
 <div class="show">
  <p id="notice"><%= notice %></p><br>
  <div class="row">
    <div class="col-md-3">
      <p>
        <strong>Тип жилья: </strong>
        <%if @torre_travel.housing == "house" %>
          <%= "Дом" %>
        <%elsif @torre_travel.housing == "flat"%>
          <%= "Квартира"%>
        <%elsif @torre_travel.housing == "bungalo"%>
          <%= "Бунгало"%>
        <%else%>
          <%= "Челет"%>
        <%end%>
      </p>

      <p>
        <strong>Цена жилья: </strong>
        <%= @torre_travel.price %> €
      </p>

      <p>
        <strong>Расстояние до моря: </strong>
        <%if @torre_travel.distance == "first_line" %>
          <%= "1ая линия" %>
        <%else%>
          <%= " 2ая линия"%>
        <%end%>
      </p>

      <p>
        <strong>Описание на рус: </strong>
        <%= @torre_travel.description %>
      </p>

       <p>
        <strong>Описание на исп: </strong>
        <%= @torre_travel.description_es %>
      </p>
  </div>
<br>
<br>
<%if @torre_travel.images.any?%>
  <table>
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @torre_travel.images.each do |image|%>
        <tr>
          <th><%= image_tag image.image_of_housing.url(:medium) %><br>
              <%= image.description%><br>
            
              <%if signed_in?%>
                <%=link_to 'Правка', edit_torre_travel_image_path(@torre_travel.id, image)%>
               <%= link_to "Destroy", image, method: :delete, data: { confirm: "точно?"}, :class => 'deleteAction' %>
              <%end%>
          </th>
        <%end%>
        </tr>
    </tbody>
  </table>
<%end%>

<%if signed_in?%>
  <%= form_for([@torre_travel, @torre_travel.images.build]) do |f| %>
      <%= render partial: "images/form", locals:{ f: f} %>
  <p>
    <%= f.submit "Добавить рисунок" %>
  </p>
<% end %>
  <%= link_to 'Правка', edit_torre_travel_path(@torre_travel) %> |
  <%= link_to 'Удалить', @torre_travel, method: :delete, data: { confirm: 'Уверен?' } %> |
<%end%>
  <%= link_to 'Вернуться', all_types_path %>
</div>