 <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<div class="show">
    <%if notice%>
      <p id="notice"><%= notice %></p>
    <% end %>

  <%= render partial: "partials/image" %>

  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <p>
        <strong>Тип жилья: </strong>
        <%if @torre_travel.housing == "house" %>
          <%= "Апартаменты" %>
        <%elsif @torre_travel.housing == "flat"%>
          <%= "Квартира"%>
        <%elsif @torre_travel.housing == "bungalo"%>
          <%= "Бунгало"%>
        <%else%>
          <%= "Челет"%>
        <%end%>
      </p>

      <p>
        <strong>Цена жилья: </strong>
        <%= @torre_travel.price %> €
      </p>

      <p>
        <strong>Расстояние до моря: </strong>
        <%if @torre_travel.distance == "first_line" %>
          <%= "1ая линия" %>
        <%else%>
          <%= " 2ая линия"%>
        <%end%>
      </p>

      <p>
        <strong>Описание на рус: </strong>
        <%= @torre_travel.description %>
      </p>

       <p>
        <strong>Описание на исп: </strong>
        <%= @torre_travel.description_es %>
      </p>
      <%if signed_in?%>
        | <%= link_to 'Правка', edit_torre_travel_path(@torre_travel) %> |
        <%= link_to 'Удалить', @torre_travel, method: :delete, data: { confirm: 'Уверен?' } %> |
        <%end%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%if signed_in?%>
        <%= form_for([@torre_travel, @torre_travel.images.build]) do |f| %>
        <%= f.file_field :image_of_housing %>
        <%= f.submit "Добавить рисунок" %>
        <% end %>
      <%end%>
    </div>
  </div> 
</div>