<div class="show">
    <%if notice%>
      <p id="notice"><%= notice %></p>
    <% end %>
<div class="row1">
  <%= render partial: "partials/image" %>
    <div class="description">
      <%if @torre_travel.reserved == "reserv"%>
        <div class="reserved"></div>
      <%end%>       
      <p style='font-style:italic;font-size: 27px;margin-top:10px;'>
        <strong> ID<%=@torre_travel.id%></strong>
      </p>
      <p>
        <strong>Тип жилья: </strong>
        <%if @torre_travel.housing == "house" %>
          <%= "Апартаменты" %>
        <%elsif @torre_travel.housing == "flat"%>
          <%= "Квартира"%>
        <%elsif @torre_travel.housing == "bungalo"%>
          <%= "Бунгало"%>
        <%else%>
          <%= "Челет"%>
        <%end%>
      </p>
      <p>
        <strong>Цена жилья: </strong>
        <%= @torre_travel.price %> €
      </p>

      <%if @torre_travel.housing == "flat" %>
        <p>
        <strong>Расстояние до моря: </strong>
        <%if @torre_travel.distance == "first_line" %>
          <%= "1ая линия" %>
        <%else%>
          <%= " 2ая линия"%>
        <%end%>
      </p>
      <%else%>
        <p>
        <strong>Расстояние до моря: </strong>
        <%= @torre_travel.distance_m %> м
      </p>
      <%end%>
      <p>
        <strong>Описание на рус: </strong>
        <%= @torre_travel.description %>
      </p>
       <p>
        <strong>Описание на исп: </strong>
        <%= @torre_travel.description_es %>
      </p>
      <p>
        <strong>Адресс: </strong>
        <%= @torre_travel.address %>
      </p>
      <%if signed_in?%>
        | <%= link_to 'Правка', edit_torre_travel_path(@torre_travel) %> |
        <%= link_to 'Удалить', @torre_travel, method: :delete, data: { confirm: 'Уверены?' } %> |
        <%end%>
        <center>
         <a href="#?w=500" rel="popup_name" class="poplight" style="margin-bottom:20px;">Зарезервировать</a>
        </center>
    </div>
  </div>
  <%if signed_in?%>
    <div class="row1">
      <div class="col-md-4 col-md-offset-4">
        <%= form_for([@torre_travel, @torre_travel.images.build]) do |f| %>
        <%= f.file_field :image_of_housing %>
        <%= f.submit "Добавить рисунок" %>
        <% end %>  
      </div>
    </div>
  <%end%>

  <div class="share">
    <center>
      <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
      <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
      <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,viber" data-counter="" data-copy="first" data-description="Лучший сайт для поиска жилья в Испании"></div>
    </center>
  </div>
</div>